<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--Launch Config -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	        name="Easyb Story"
	        delegate="org.easyb.easybplugin.launch.EasybLaunchConfigurationDelegate"
	        modes="run, debug"               
	        id="org.easyb.easybplugin.launch.EasybLaunchConfigurationDelegate">        
	    </launchConfigurationType>
	</extension>
   
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="resources/images/icons/easyb.png"
	        configTypeID="org.easyb.easybplugin.launch.EasybLaunchConfigurationDelegate"
	        id="org.easyb.easybplugin.launch.easyblaunch.img">
	    </launchConfigurationTypeImage>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="org.easyb.easybplugin.launch.EasybLaunchConfigurationDelegate"
	        class="org.easyb.easybplugin.launch.EasybLaunchConfigurationTabGroup"
	        id="org.easyb.easybplugin.launch.EasybLaunchConfigurationTabGroup">
	    </launchConfigurationTabGroup>
	</extension>
	
	<!--Launch short cut-->
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	   <Shortcut
	      id="org.easyb.easybplugin.launch.EasybLaunchShortcut"
	      class="org.easyb.easybplugin.launch.EasybLaunchShortcut"
	 		label="easyb story"
	 		icon="resources/images/icons/easyb.png"
	 		modes="run, debug">
 
            <contextualLaunch>
           		<enablement>
	           		<with variable="selection">
		               <count value="1"/>
		               <iterate>
		                 <or>
		                   <!--test property="org.eclipse.debug.ui.matchesPattern" value="*.story"/-->
			        	  <test property="org.eclipse.debug.ui.matchesContentType" value="org.easyb.eclipse.contenttype.groovystory"/>
			        	  <test property="org.eclipse.debug.ui.matchesContentType" value="org.easyb.eclipse.contenttype.story"/>
		                 </or>
		               </iterate>
		             </with>
           			
           		</enablement>
           		<contextLabel label="Run easyb story" mode="run"/>
           		<contextLabel label="Debug easyb story" mode="debug"/>
           		
        	</contextualLaunch>
            <configurationType id="org.easyb.easybplugin.launch.EasybLaunchConfigurationDelegate"/>
	
	   </Shortcut>
	 </extension>
	<extension point="org.eclipse.ui.editors"> 
	<editor
      class="org.eclipse.ui.editors.text.TextEditor"
      default="false"
      extensions="story"
      icon="resources/images/icons/easyb.png"
      id="org.easy.eclipse.ui.dummyEditor"
      name="easyb story editor">


	</editor> 
	</extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="story,specification"
            id="org.easyb.eclipse.contenttype.story"
            name="easyb story"
            priority="normal">
      </content-type>
      <content-type
            file-extensions="groovy"
            id="org.easyb.eclipse.contenttype.groovystory"
            name="easyb groovy story"
            priority="low">
      </content-type>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command 
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.easyb.easybplugin.launch.EasybLaunchShortcut.run"
            name="run easby story">
      </command>

   </extension>	
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.easyb.easybplugin.launch.EasybLaunchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X S">
      </key>
   </extension>	
</plugin>
