<%
  import org.easyb.util.BehaviorStepType
  import org.easyb.report.HtmlReportHelper
%>

<div id='SpecificationsListPlain' style='display:none;'>
  <h3>Specifications</h3> (<a href='#' onclick='showOnlyContent("SpecificationsList", "specifications-list-menu-link")'>show HTML table</a>)

  <div>${report.results.getSpecificationResultsAsText()}</div>
  <div><%= HtmlReportHelper.formatHtmlReportElement(report.results, BehaviorStepType.SPECIFICATION)%></div>
</div>
