<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension point="org.eclipse.ui.editors.templates">
		<contextType class="org.easyb.eclipse.templates.context.BehaviourContextType" 
					id="org.easyb.eclipse.templates.context.BehaviourContextType" name="Behaviour">
		</contextType>
		<include file="resources/templates/behaviour_template.xml"/>
	</extension>

</plugin>
